/* Global Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Jon Eisen Web specific CSS */

/*---------------------------
  Elements
---------------------------*/
	body { 
		background: #CCBA96 url(../images/background.png); 
		color: #000; 
		font-family: Georgia, 'Times New Roman', serif; 
		font-size: 11px; 
		min-width: 900px; 
	}
	h1, h2, h3, h4, h5, h6 { 
		font-weight: normal; 
		letter-spacing: 0.02em; 
	}
	h1 { 
		font-size: 48px; 
		margin-bottom: 10px; 
		position: relative; 
		text-align: center; 
		text-transform: uppercase; 
		z-index: 2; 
	}
	h1 small { 
		font-size: 24px; 
		text-transform: none; 
	}
	h1 span { 
		font-size: 58px;  
	}
	h2 { 
		font-size: 32px; margin-bottom: 15px; 
	}
	a { 
		color: #000; 
	}
	a:hover { 
		color: #333; 
	}
	p { 
		font-size: 18px; 
		line-height: 1.4; 
		margin-bottom: 20px; 
	}
	section { 
		border-top: 5px solid rgba(106, 92, 66, 0.15); 
		margin-bottom: 35px; 
		padding: 25px 0 0 0; 
	}

	header { 
		margin-top: 20px; 
	}
	footer { 
		background: rgba(103, 91, 68, 0.150) repeat-x; 
		height: 200px; 
		margin-top: 150px; 
		text-align: center; 
	}
	footer p { 
		font-size: 13px; 
		padding-top: 30px; 
	}
	footer p small { 
		font-size: 11px; 
	}

/*------------------------------------------- 
  Global
-------------------------------------------*/
	.left { float: left; }
	.block_left { float: left; margin: 0 10px 10px 0; }
	.right { float: right; }
	.block_right { float: right; margin: 0 0 10px 10px; }
	.center { text-align: center; }
	.clear { clear: both; }

	.column { float: left; margin-bottom: 15px; padding: 0 0 0 10px; width: 290px; }
	.column.double { width: 580px; }
	.column.full { float: none; width: 890px; }
	.column p { padding-right: 20px; }
	.column p.second { margin-top: 20px; }
	
	#container { overflow: hidden; position: relative; }
	#wrapper { margin: 0 auto; position: relative; width: 900px; }

  .loop {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
  }

	ul.list { 
		margin-left: 15px; 
	}
	ul.list li { 
		font-size: 14px; 
		list-style: disc; 
		margin-bottom: 5px; 
	}
