<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <!--
      <div class="footer-col footer-col-right">
          <p class="text">Writing to find the way.</p>
      </div>
      -->

      <div class="footer-col footer-col-left">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

        <ul class="social-media-list">
          <li><a href="http://joneisen.works">Professional Website</a></li>

	  <li>
	    <a href="https://www.linkedin.com/in/jeisen/">
	      LinkedIn
	    </a>
	  </li>

          <li>
            <a href="https://github.com/yanatan16">
              Github
            </a>
          </li>

	  <li>
	    <a href="https://www.facebook.com/jon.eisen">
	      Facebook
	    </a>
	  </li>

          <li>
            <a href="https://ultrasignup.com/results_participant.aspx?fname=Jonathan&lname=Eisen">
              Ultrasignup
            </a>
          </li>

          <li>
              <a class="rss-link" href="/feed.xml">rss-feed</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
