<div class="post-preview">
  <a class="preview-title-link" href="{{ post1.url | prepend: site.baseurl }}">
    <h1 class="post-title">{{ post1.title }}</h1>
  </a>
  <p class="post-meta">{{ post1.date | date: "%b %-d, %Y" }} under {{ post1.categories[0] }}</p>
  <div class="preview-content">{{ post1.content | split:"<!--break-->" | first }}</div>

  {% if post1.content contains "<!--break-->" %}
    <a class="preview-more-link" href="{{ post1.url | prepend: site.baseurl }}#break">full-post</a>
  {% endif %}
</div>
