.beer {
  list-style: none;
  overflow: hidden;

  a:hover {
    text-decoration: none;
  }

  .beer-more {
    height: 0;
    overflow: hidden;
  }

  &:not(.beer--open) .beer-name:after {
    content: '\25bc';
    font-size: 14px;
    padding-left: 1em;
  }

  &.beer--open {
    .beer-more {
      height: 100%;
    }

    .beer-name:after {
      content: '\25b2';
      font-size: 20px;
      padding-left: 1em;
    }
  }

  .beer-info {
    position: relative;

    label {
      display: inline-block;
      min-width: 100%;

      &.beer-style {
        width: 100%;
      }
    }

    .beer-srm {
      display: inline-block;
      height: 1em;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0.5em;
      text-align: center;
      &.beer-srm-dark {
        color: white;
      }
    }

    .beer-image {
      @include media-query($on-palm) {
        position: inherit;
        max-height: 10em;
      }
      position: absolute;
      right: 0;
      top: 0;
      max-height: 100%;
      max-width: 15em;
    }
  }
}
