.beer {
  .beer--info {
    position: relative;

    label {
      display: inline-block;
      min-width: 100%;

      &.beer-style {
        width: 100%;
      }
    }

    .beer-srm {
      display: inline-block;
      height: 1em;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0.5em;
      text-align: center;
      &.beer-srm-dark {
        color: white;
      }
    }

    .beer-image {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 100%;
      max-width: 15em;
    }
  }
}
