/**
 * Site header
 */
.site-header {
  min-height: 56px;
  text-align: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

#site-title {
    font-size: $base-font-size * 2;
    font-weight: $font-weight;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    width: 100%;

    color: $brand-color;
}

.site-nav {
  display: block;
  border-bottom: 1px solid $brand-color;
  border-top: 1px solid $brand-color;
  font-size: 0.75em;

  .menu-icon {
    display: none;
  }

  a {
    color: $grey-color-dark;
    line-height: $base-line-height;

    &.page-link {
      text-transform: capitalize;
    }
    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

    &.ext-link {
      font-style: italic;
    }

    &.selected {
        color: $brand-color;
    }
  }
}

a {
    &, &:link, &:visited {
        font-size: $small-font-size;
        color: $grey-color-dark;
        line-height: $base-line-height;
        font-weight: $bold-font-weight;
    }

    &:hover, &:active {
        font-style: underline;
        color: $brand-color;
    }
}

.hero {
    margin-bottom: 1em;
}

@mixin double-border-top($width, $type, $color, $space) {
  border-top: $width $type $color;
  position: relative;

  &:before {
    content: ' ';
    border-top: $width $type $color;
    position: absolute;
    z-index: -1;
    top: $space;
    width: 100%;
  }
}

/**
 * Site footer
 */
.site-footer .wrapper {
  @include double-border-top(1px, solid, $brand-color, 3px);
  padding: $spacing-unit 0;
}

.site-footer p {

}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

// Preview
.post-preview {
  .preview-title-link {
    color: inherit;
  }
}

.post-preview + .post-list {
  @include double-border-top(1px, solid, $brand-color, 3px);
  margin-top: 20px;
  padding-top: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $tiny-font-size;
  color: $grey-color;
}

.post-meta-left {
  float: left;
}

.post-meta-right {
  float: right;
}

.post-link {
  margin-bottom: 1px;
  display: block;
  // font-size: 24px;
}

.post-prev-next-nav {
  .post-link {
    display: inline-block;
  }

  .next {
    float: right;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content, .preview-content {
  clear: both;
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  hr {
    margin: 2em 0;
  }
}


.gt {
  strong {
    color: goldenrod;
  }
}

button {
    padding: 1em;
    cursor: pointer;
    font-size: 2em;
    background: goldenrod;
    border: none;
    border-radius: 3px;
}
